@import "tailwindcss";

/* Il tuo reset personalizzato sotto */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Inter', system-ui, sans-serif;
  background-color: #f3f4f6;
}